.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.table-container span {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 30px;
}

.data-pairs-container {
    overflow: auto;
    height: 400px;
}

table {
    border: 1px solid #5F6F7E;
    border-collapse: collapse;
    margin: 1em 0 2em 0;
  }
  
  table td {
    margin: 0;
    padding: 0;
    border: 1px solid #E2E2E2;
  }
  
  input {
    width: 80px;
    padding: 0.2em 0.4em 0.2em 0.4em;
    margin: 0;
  }
  
  .row {
      float: left;
  }
  
  .row:after {
      content: "";
      display: block;
      clear: both;
  }
  
  button {
      position: relative;
      display: block;
      clear: both;
      margin-top: 20px;
      border: 4px solid deeppink;
      border-radius: 4px;
      font-size: 20px;
      font-weight: bold;
      background-color: transparent;
      padding: 10px 14px;
      cursor: pointer;
      transition-duration: 0.2s;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

button:hover {
    background-color: deeppink;
    color: white;
}

button:active {
    background-color: crimson;
    border-color: crimson;
    transition-duration: 0s;
}

.chart-container {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.d3-chart {
  width: 400px;
  height: 400px;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9);   
}
   
.d3-chart .axis path,
.d3-chart .axis line {
  stroke: #999;
}
   
.d3-chart .axis text {
  fill: #999;
}

#mx_message {
  display: inline;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 10px;
  padding: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid orchid;
  visibility: hidden;
}

#mx_message p {
  margin: 2px;
}