html, body {
  width: 100%;
  padding: 0;
  margin: 0 auto; 
}

.flexbox-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

a {
  color: blue;
}

/*
input area
*/

.tool-content {
  margin: 26px auto;
  overflow: auto;
  max-width: 1000px;
  width: 100%;
}

.textarea-container {
  margin: 0px 20px;
  float: left;
}

textarea {
  height: 400px;
  width: 200px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  resize: none;
}
  
button {
  position: relative;
  display: block;
  clear: both;
  margin-top: 20px;
  border: 4px solid deeppink;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  padding: 10px 14px;
  cursor: pointer;
  transition-duration: 0.2s;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:hover {
  background-color: deeppink;
  color: white;
}

button:active {
  background-color: crimson;
  border-color: crimson;
  transition-duration: 0s;
}

/*
chart area
*/

.chart-container {
  margin: 0px 20px;
  float: left;
}
  
.d3-chart {
  width: 400px;
  height: 400px;
  margin: 6px;
  border: 1px solid black;  
}
   
.d3-chart .axis path,
.d3-chart .axis line {
  stroke: #999;
}
   
.d3-chart .axis text {
  fill: #999;
}

#mx_message {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 4px 0;
  width: 300px;
  padding: 8px;
  font-size: 1em;
  border-radius: 6px;
  border: 2px solid orchid;
}

#mx_message p {
  margin: 1px;
}

.tab-left {
  float: left;
  clear: left;
}

.message-data {
  float: right;
  clear: right;
}